header
{
    display: flex;
    padding-inline: 16px;
    padding-block: 8px;
    background-color: rgb(23, 211, 211);
    color: #333300;
    align-items: center;
    justify-content: space-between;

    padding-top: 16px;
    padding-bottom: 16px;

    nav
    {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span
        {
            cursor: pointer;
            &:hover
            {
                color: red;
            }  
        }
        div
        {
            width: 7%;
            display: flex;
            justify-content: space-between;           
        }
    }
}