<div class="scoresContainer">
    <h1>🎖️High Scores🎖️</h1>
    <div class="scoreList">
        <span>
            <div><h2>Username</h2></div>
            <div><h2>Score</h2></div>
            <div><h2>Date</h2></div>
        </span>
        @for (score of scores(); track score.name)
        {
            <span>
                <div>{{score.name}}</div>
                <div>{{score.score}}</div>
                <div>{{score.date}}</div>
            </span>
        }
    </div>
</div>
