.scoresContainer
{
    text-align: center;

    .scoreList
    {
        padding-left: 25%;
        
        span
        {
            
            display: flex;

            div
            {
                width: 100%;
                display: flex;
                align-items: center;
            }
        }
    }
}