.container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

app-dog-spinner
{
    text-align: center;
    border:2px solid red;

    img
    {
        width: 100px;
        height: 100px;
    }
}